.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
.grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10%;
  margin-left: 10%;
}
.read {
  margin-top: 20px;
}
.pagination {
  width: 50%;
  text-align: center !important;
  transform: translate(-50%, -50%);
  margin-left: 50% !important;
}
.carousel {
  width: 40%;
  height: 50vh;
  margin-left: 10%;
}
.flex {
  width: 80%;

  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: space-between;
}
.select {
  width: 200px;
  cursor: pointer !important;
}
